* {
  padding: 0px;
  margin: 0px;
}

.contacts {
  width: 50%;
  margin: auto;
}

li {
  display: inline;
}

.contact-detail {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.delete-button {
  width: 20%;
}
